.btn {
  display: inline-flex;
  padding: 10px 15px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  justify-content: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: $color-transparent;
  border: 1px solid $color-default-white;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
