.btn {
  display: inline-flex;
  padding-top: 10px;;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: $color-transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity $trans-default;
  vertical-align: middle;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

