.feedback {
  position: relative;
  background-color: $color-deep-sky-blue;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(4, 24, 39, 0.5);
    clip-path: polygon(0 0, 100% 0, 0 100%);

    @include vp-1023 {
      display: none;
    }
  }
}

.feedback__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 250px;

  @include vp-1439 {
    padding-top: 85px;
    padding-bottom: 125px;
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 0;
    padding-top: 50px;
    padding-bottom: 125px;
  }

  @include vp-767 {
    padding-top: 48px;
    padding-bottom: 90px;
  }
}

.feedback__image {
  position: relative;
  width: 100%;
  max-width: 510px;
  background-color: $color-transparent;
  z-index: 1;

  @include vp-1023 {
    display: none;
  }
}

.feedback__form-wrapper {
  z-index: 1;
}

.feedback__title {
  margin: 0 0 15px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 6px;
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__text {
  margin: 0 0 35px;
  font-size: 16px;
  line-height: 20px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 19px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.feedback__field {
  input,
  textarea {
    width: 100%;
    min-height: 50px;
    padding: 15px;
    color: $color-default-white;
    background-color: rgba(4, 20, 39, 0.15);
    border: none;
    border-radius: 3px;

    &:hover {
      background-color: rgba(4, 20, 39, 0.25);
    }

    &::placeholder {
      color: $color-default-white;
    }

    &:disabled {
      opacity: 0.5;
    }

    &:focus-visible {
      outline-color: $color-black-pearl;
    }
  }

  textarea {
    height: 100%;
    padding: 25px 15px;
  }

  &--textarea {
    grid-column: 1 / -1;
    margin-bottom: 15px;

    @include vp-767 {
      margin-bottom: 10px;
    }

    textarea {
      box-sizing: border-box;
      min-height: 150px;


      @include vp-767 {
        min-height: 177px;
      }
    }
  }
}

.feedback__element-error-text {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  color: $color-fire-brick;
}

.feedback__btn {
  height: max-content;
  padding: 15px 25px 13px;
  border: none;
  background-color: $color-black-pearl-form;
  color: $color-default-white;

  @include vp-767 {
    margin-bottom: 5px;
    font-size: 16px;
    letter-spacing: 0.05em;
  }
}

.feedback__control {
  position: relative;
  margin-top: 15px;

  @include vp-1023 {
    margin-top: 8px;
  }

  @include vp-767 {
    margin-top: 0;
  }

  &:focus-within {
    label {
      outline: $color-black-pearl auto 1px;
      outline-offset: 5px;
    }
  }

  input:checked {
    + span::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 4px;
      width: 4px;
      height: 6px;
      border-right: 1px solid $color-default-white;
      border-bottom: 1px solid $color-default-white;
      transform: rotate(45deg);
    }
  }

  input:disabled {
    ~ span {
      opacity: 0.5;
      cursor: default;
    }
  }

  input:hover {
    ~ span {
      opacity: 1;
    }
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .feedback__element-error-text {
    bottom: -20px;
  }

  input + span {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 15px;
    background-color: $color-deep-sky-blue;
    border: 1px solid $color-default-white;
    border-radius: 2px;
    opacity: 1;
  }

  span {
    margin: 0;
    font-size: 14px;
    line-height: 15px;
    color: $color-default-white;
    opacity: 0.8;
  }
}
