.container {
  width: 100%;
  max-width: 1920px;
  min-width: $vp-320;
  margin: 0 auto;
  padding: 0 350px;

  @include vp-1439 {
    padding: 0 100px;
  }

  @include vp-1023 {
    padding: 0 50px;
  }

  @include vp-767 {
    padding: 0 25px;
  }
}
